body
	background-color:white
	color:#333333

ul
	list-style: none
	padding: 0px

.badge
	position:absolute

.test
	margin: 0px
	float: left
	padding: 10px 13px
	.browser
		padding: 0px
		margin: 5px 0px
		.version-stat
			position:relative
			.version
				margin-left:14px

.status
	position:absolute
	height: 10px
	width:10px
	top:4px

.status.pass
		background-color:green

.status.fail
		background-color:red
		
