extends layout/default.jade

block head  
	title Dashboard
	+css("/public/css/lib/bootstrap.min.css")
	+css("/public/css/lib/animate.css")
	+css("/public/css/admin.css")
	+js("/public/js/build/lib/angular.js")
	+js("/public/js/build/admin.js")
	
block content  
	.container
		.search-area
			input.form-control.ng-pristine.ng-valid(type="text", ng-model="searchKey", placeholder="search")
		.browser.well.well-lg(ng-repeat="(id,worker) in workers | filter:{worker.browser.name:searchKey}", ng-mouseenter="showPanel(id)", ng-mouseleave="hidePanel()")
			form.form-inline(role="form")
				.form-group
					span.name {{worker.browser.name}}
					span.version ({{worker.browser.version}})
				.form-group.test-btn-area.pull-right(ng-show="showPanelStatus[id]")
					button.btn.btn-default.test-btn(type="submit", ng-click="test(id)") Test
				.form-group.pull-right(ng-show="showPanelStatus[id]")
					input.form-control.url-input(ng-model="url[id]", type="text", placeholder="Enter URL")
