extends layout/default.jade

block head  
	title Test
	+css("/public/css/lib/mocha.css")
	
block content 
	div#mocha 
	+js("/public/js/build/lib/expect.js")
	+js("/public/js/build/lib/mocha.js")
	script mocha.setup('bdd')
	+js("/public/js/build/testcase.js")
	+js("/public/js/build/tester.js")
