extends layout/default.jade

block head  
	title Test
	+css("/public/css/lib/mocha.css")
	
block content 
	div#mocha 
	+js("/public/js/lib/detector.js")
	+js("/socket.io/socket.io.js")
	+js("/public/js/lib/expect.js")
	+js("/public/js/lib/mocha.js")
	script mocha.setup('bdd')
	+js("/public/js/tester.js")
	+js("/public/js/testcase.js")
