extends layout/default.jade

block head  
	title Test
	+css("/public/css/lib/mocha.css")
	+js("/public/js/build/lib/expect.js")
	+js("/public/js/build/lib/mocha.js")
	script mocha.setup('bdd');
	+js("/public/js/build/testcase.js")
	script mocha.run();
block content 
	div#mocha 
