body
	font-family: "Helvetica Neue"
	font-weight: lighter
	font-size:20px

input[type=text]
	height: 45px
	font-size:18px
	font-family: "Helvetica Neue"
	font-weight: lighter
	width: 300px

.btn
	height: 45px
	width:60px
	font-size:18px
	font-family: "Helvetica Neue"
	font-weight: lighter

form
	margin-bottom:0px

.container
	margin-top:50px
	width:900px

.test-area
	margin-bottom: 20px
	input[type=text]
		width: 100%
		font-size: 24px
		height: 60px

.browser
	 -webkit-animation: fadeInDown 1s
	.name
		font-size:30px
	.version
		margin-right: 0px 20px
		font-size:26px
		font-family: "Helvetica Neue"
		font-weight: lighter
	.status-success
		width: 30px
		height: 30px
		background: green
		border-radius: 15px
		display:inline-block


