body
	font-family: "Helvetica Neue", arial, sans-serif
	font-weight:200
	background-color:white

ul
	list-style: none
	padding: 0px

.badge
	position:absolute

.test
	margin: 0px
	float: left
	margin: 10px 0px 5px 20px
	width: 80px
	.browser
		padding: 0px
		margin: 5px 0px
		.version-stat
			position:relative
			.version
				margin-left:14px

.status
	position:absolute
	height: 10px
	width:10px
	top:4px

.status.pass
		background-color:green

.status.fail
		background-color:red
		
