extends layout/default.jade

block head  
	title Test
	+js("/public/js/lib/mocha.js")
	+js("/public/js/lib/expect.js")
	+css("/public/css/lib/mocha.css")
	script mocha.setup('bdd');
	+js("/public/js/build/testcase.js")
block content 
	div#mocha 
	script.
		console.log('hahaha');
		console.log('hohoho');
		console.log('wow');
		mocha.run();
